* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  height: 100vh;
}
.frame {
  background-color: rgb(3, 3, 26);
  margin: auto;
  width: 30%;
  padding: 10px;
}
.calculator-frame {
  color: bisque;
  display: flex;
  flex-direction: column;
  border: solid bisque;
}
.frame div.screen {
  /* border: solid yellow; */
  /* background-color: beige; */
  /* color: #000000; */
  max-width: 100%;
  padding: 10px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
.screen div.calculations {
  padding-bottom: 10px;
  border-bottom: solid bisque;
}
.screen div.result {
  padding: 10px 0px 0px 0px;
  text-align: right;
}
.frame div.numPad {
  max-width: 100%;
  padding: 10px;
  /* border: solid blue; */
}
.numKeys {
  display: flex;
  max-width: 100%;
  font-size: 25px;
}
.col-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.element {
  cursor: pointer;
  padding: 10px;
  border: solid bisque;
  max-width: 100%;
  text-align: center;
}
.double-element {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 104, 4);
}
.operator {
  color: rgb(14, 187, 14);
}
